/*
#334E58
#88292F
#A77464
#A27E8E
#A2A79E
*/
.navbar {
    height: 200px;
    font-size: 50px;
}
.navbar-brand {
    font-size: 50px;
}
.navColor {
    font-weight: bold;
    background-color: #88292F;
}
body {
    background-color: #A2A79E;
}
.mainSection {
    height: 600px;
}
.carousel-item {
    height: 600px;
}
.carouselController {
    font-weight: bold;
    color: white;
    font-size: 15px;
}

.carousel-control-prev,
.carousel-control-next{
      top: 90%;
      height: 50px;
}

#aboutMeText {
    color: white;
    font-size: 25px;
}

.carousel {
    background-color: #88292F;
}

.sectionTitles {
    color: white;
}

@media screen and (max-width: 995px) {
    .navbar {
        height: auto;
    }
}
