/*
#334E58
#88292F
#A77464
#A27E8E
#A2A79E
*/

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.projectImage {
    height: 200px;
    width: 400px;
}

.projectImage:hover {
    opacity: .5;
    cursor: pointer;
}